In [1]:
%load_ext sql

# Challenge Questions
Connect to the server and collect all the data from users and posts tables.

Create a merged dataframe with users and post tables. Take into account that you will need to do some stuff before merging.

Identify missing values in the merged dataframe and apply some of the methods.

Change the data types of your merged dataset accordingly.

1. Import pandas library

In [2]:
import pandas as pd

Check the connection details in this link

2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data
3. Create a mysql engine to set the connection to the server. Check the connection details in this link
4. Import the users table

In [3]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in ./opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install flask_sqlalchemy

Requirement already satisfied: flask_sqlalchemy in ./opt/anaconda3/lib/python3.9/site-packages (2.5.1)
Requirement already satisfied: Flask>=0.10 in ./opt/anaconda3/lib/python3.9/site-packages (from flask_sqlalchemy) (1.1.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in ./opt/anaconda3/lib/python3.9/site-packages (from flask_sqlalchemy) (1.4.32)
Requirement already satisfied: Werkzeug>=0.15 in ./opt/anaconda3/lib/python3.9/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.0.3)
Requirement already satisfied: click>=5.1 in ./opt/anaconda3/lib/python3.9/site-packages (from Flask>=0.10->flask_sqlalchemy) (8.0.4)
Requirement already satisfied: itsdangerous>=0.24 in ./opt/anaconda3/lib/python3.9/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in ./opt/anaconda3/lib/python3.9/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in ./opt/anaconda3/lib/python3.9/site-packages (from Jinja2>=2.10.1->Flask>=0.10->flask_sqlalchemy) (2.0.1)
Requirement already satisfied: greenlet!=0.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy>=0.8.0->flask_sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from flask_sqlalchemy import SQLAlchemy

In [6]:
import pymysql
from sqlalchemy import create_engine

3. Create a mysql engine to set the connection to the server. Check the connection details in this link

In [7]:
engine = create_engine("mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats")

4. Import the users table

In [8]:
data = pd.read_sql_query('SELECT * FROM users', engine)
data

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

5. Rename Id column to userId

In [10]:
data.keys()

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

In [42]:
users = data.rename(columns={'Id': 'UserID'})
users.head()

,UserID,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

6. Import the posts table.

In [12]:
post = pd.read_sql('SELECT * FROM posts', engine)

In [13]:
post

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

7. Rename Id column to postId and OwnerUserId to userId

In [19]:
posts = post.rename(columns={'Id': 'postID', 'OwnerUserId':'UserID'})
posts. head()

,postID,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,UserID,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
**posts columns**: postId, Score,userID,ViewCount,CommentCount

In [43]:
new_users = users[['UserID', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

In [40]:
new_posts = posts[['postID', 'Score', 'UserID', 'ViewCount', 'CommentCount']]

8. Merge both dataframes, users and posts.

In [44]:
new_df = new_users.merge(new_posts, on='UserID')
new_df.head()

,UserID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

9. How many missing values do you have in your merged dataframe? On which columns?

In [45]:
missing_cols = new_df.isnull().sum()
missing_cols

UserID              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postID              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

10. You will need to make something with missing values. Will you clean or filling them? Explain.

In [46]:
## Since more than half out of the total data for the ViewCount has null values (48,396 out of 90,584)
## we've decided to drop the column

new_df = new_df.drop(['ViewCount'], axis=1)

11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [47]:
new_df.dtypes

UserID          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postID          int64
Score           int64
CommentCount    int64
dtype: object